@import "tailwindcss";


@theme {
  --color-textHead: #504faf;
}

.active {
  color: #275EF5!important;
  font-weight: bold;
}

.active span {
  width: 100% !important;
  left: 0 !important;
  background: white !important;
}
@keyframes gradientBG {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.animated-bg {
  background: linear-gradient(-45deg, #111827, #1e293b, #0f172a, #1e1b4b);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}